/* src/styles/Message.module.css */

.messageItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.ownItem {
  align-items: flex-end;
}

.bubble {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background-color: #95b9ff;
  max-width: 70%;
}

.ownBubble {
  background-color: #0070f3;
  color: #f1a1ff;
}

.sender {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.time {
  font-size: 0.75rem;
  color: #666;
  margin-top: 0.25rem;
}
