.sidebar {
  width: 200px;
  background: #fdbdfe;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.roomList {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.roomList li {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  background-color: #0070f3;
  color: white;
}

.newRoom {
  display: flex;
  margin-top: 1rem;
}

.newRoom input {
  flex: 1;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border: 1px solid #ffabab;
  border-radius: 4px;
}

.newRoom button {
  padding: 0.3rem 0.6rem;
  background-color: #0070f3;
  color: rgb(248, 203, 203);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
